.custom-countdown {
    .ant-statistic-content {
        display: flex;
        align-items: center;
        margin-right: 4px;

        .ant-statistic-content-value {
            font-size: 12px;

        }
    }

}